---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=35.481918&longitude=-97.508469&term=bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8RIZ20CDFDYAIR3m-lRLcuH6RbcUY84hTpTJL9HeCeehlssxH8iaflFBIAhC0_9mN8zD_U0oEZp2IjI-n1J-A9VtrXcliUuJTl3JL96xK5G95WAa4TjCXlTlEMmkZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-ckc8k; site=public_api_v3
      X-Zipkin-Id:
      - 582c314c3d916dbc
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '497.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-113-124-useast1aprod
      X-Extlb:
      - 10-65-113-124-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "7W0UHp5BKxKQntzIDM-AKA", "alias": "lunar-lounge-oklahoma-city",
        "name": "Lunar Lounge", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/SLMTt8vkXqPuokJdGNvG7g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/lunar-lounge-oklahoma-city?adjust_creative=Zwj_F7rFXsclBGNPn1X2Og&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Zwj_F7rFXsclBGNPn1X2Og",
        "review_count": 28, "categories": [{"alias": "lounges", "title": "Lounges"}],
        "rating": 4.5, "coordinates": {"latitude": 35.4793752, "longitude": -97.5216357},
        "transactions": [], "location": {"address1": "1114 Classen Dr", "address2":
        "", "address3": null, "city": "Oklahoma City", "zip_code": "73103", "country":
        "US", "state": "OK", "display_address": ["1114 Classen Dr", "Oklahoma City,
        OK 73103"]}, "phone": "", "display_phone": "", "distance": 1233.7161208251875},
        {"id": "wgbZryt4sP34kFvwi6uA6w", "alias": "the-grove-bar-oklahoma-city-2",
        "name": "The Grove Bar", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/5i8XWDZrJePKWcvghAhoEQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-grove-bar-oklahoma-city-2?adjust_creative=Zwj_F7rFXsclBGNPn1X2Og&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Zwj_F7rFXsclBGNPn1X2Og",
        "review_count": 4, "categories": [{"alias": [...]
