---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=35.481918&longitude=-97.508469&term=bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-h4js2; site=public_api_v3
      X-Zipkin-Id:
      - e0c9e772ed6871fc
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-172-176-useast1bprod
      X-Extlb:
      - 10-65-172-176-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Authorization
        is a required parameter.", "field": "Authorization", "instance": null}}'
  recorded_at: Mon, 15 Jan 2024 17:43:11 GMT
recorded_with: VCR 6.2.0
